* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
html {
  font-size: calc(5px + 0.390625vw); /* 1rem = 10px */
}



:root {
  --primary-color: #facb32;
  --bg-color: #1a1a1a;
  --font: "Poppins", sans-serif;
}
.bg-color {
  background-color: var(--bg-color);
}

nav{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  height: 5.8rem;
  
}
.section-1{

  justify-content:space-evenly !important;
  
  }
.alt-color {
  background-color: rgb(255, 255, 255);
  color: var(--bg-color);
}
li {
  color: rgba(255, 255, 255, 0.829);
  text-decoration: none;
  list-style: none;
  padding-inline: 1.5rem;
  letter-spacing: 0.3rem;
}
.svg {
  height: 40rem;
  width: 40rem;
}
body {
  background-color: var(--bg-color);
  font-family: var(--font);
  color: rgba(255, 255, 255, 0.829);
  font-size: 1.6rem;
}
.nav-link {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.89);
  text-decoration: none;
  font-size: 1.4rem;
  letter-spacing: 0.4rem;
  padding-bottom: 0.2rem;
}

.nav-link:before {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  height: 0.1rem;
  width: 0rem;
  left: 0rem;
  bottom: -0.3rem;
  transition: 0.3s;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}

.nav-link:hover:before {
  width: 100%;
}
.nav-link:active{
 
  color: rgba(255, 255, 255, 0.829);
}
.nav-link:visited{
  color: rgba(255, 255, 255, 0.829);
  
}
.navbar-nav{
  display: flex;
  flex-direction: row;
  
}
.text-uppercase{
  text-transform: uppercase;
}


.row{
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  margin:auto;
}
.navbar{
  display: flex;
  max-width: 75%;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
}
.nav-color {
  background-color: #0d0d0d;
}
.navbar-brand{
 display: flex;
 align-items: center;
 padding: 0.5rem;
}
.logo {
  height: 5rem;
  padding: .2rem;
}
section {
  display: flex;
  margin: auto;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  /* scroll-snap-align: start; */
}

/* .all{
    scroll-snap-type: y mandatory;
    position: relative;
    z-index: -1;
} */
.primary-color {
  color: var(--primary-color);
  z-index: -100;
}
.container {
  display: flex;
  width: 90vw;
  max-width: 75%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 5;
}
.g-container{
  width: 100%;
  max-width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* paralex effect  */
.d-flex{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.gray-back {
  position: absolute;
  z-index: -1;
  background-color: #dab821c4;
}
.gray-back--about {
  width: 75vw;
  height: 77vh;

  margin: auto;
  top: 6rem;
  left: 0;
  right: 0;
}
.display-1{
  font-size: 5rem;
  line-height: 1.2;
}
.gray-back-in::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  background-color: #fff;
  animation: backIn 1.4s forwards;
}
@keyframes backIn {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}



.custom-heading {
  font-family: var(--font);
  font-weight: 500;
  font-size: 12.1rem;
  line-height: 0.9;
  text-align: left;
  overflow: hidden;
}

.gold-back-reavel-in {
  position: absolute;
  z-index: -1;
  background-color: #e7d157a2;
  width: 100%;
  height: 83%;
  /* margin: auto; */
  top: 10rem;
  right: 0;
  /* transition: cubic-bezier(0.02, 0.54, 0.1, 1) .7s; */
  
  animation: backIn 1s forwards cubic-bezier(0.22, 0.61, 0.36, 1);
  
}
@keyframes backIn {
  from {
    transform: translateX(-120%);
  }
  to {
    
    transform: translateX(0%);
  }
}

.c-l {
  color: #cca841;
  font-size: 4.5rem;
  font-family: var(--font);
  text-align: center;
  opacity: 0;
  transition: ease-in-out 2000ms;
}
.c-lang {
  color: #cca841;
  font-size: 4.5rem;
  font-family: var(--font);
  text-align: center;
  opacity: 1;
  transition: ease-in-out 2000ms;
  /* animation: fadeIn 1500ms alternate infinite; */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.txt-head {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 5rem;
  margin: auto;
  padding: 0;
  font-family: var(--font);
  letter-spacing: 0.8rem;
  /* margin-top: 0rem; */
  z-index: 5;
  /* top: 0rem; */
}
.hd {
  position: relative;
  z-index: -1;
  letter-spacing: 0.3rem;
  color: var(--primary-color);
  /* white-space: nowrap; */
  text-align: center;
  transform: translateY(4rem);
  transition: ease-in-out 400ms;
}
.hd1 {
  transform: translateY(0rem);
  transition: ease-in-out 400ms;
}
.para {
  position: relative;
  z-index: -1;
  margin: auto;
  transform: scale(0);
  text-align: center;
  transition: transform, 400ms;
}
.para1 {
  transform: scale(1);
  transition: 400ms;
  /* transition-duration: 400ms; */
  /* animation: fadeIn 400ms; */
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.col-lg-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15rem;
  align-items: center;
  /* padding: 1rem; */
  margin: auto;
  /* margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem; */
  /* background-color: #cca841; */
  /* width: 25.3333%; */
}
.ds {
  position: relative;
  cursor: pointer;
  margin: auto;
  align-items: center;
  /* width: 31.9rem; */
  /* background-color: #ff1515; */
}
/* Heading */
#servics .ds h3 {
  width: 29.8rem;
  height: 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  /* position: relative; */
  position: absolute;
  min-width: 100%;
  height: 100%;
  left: 0;
  overflow: hidden;
  background-color: var(--bg-color);
}
.video-container video {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.card-back {
  /* backdrop-filter: drop-shadow(0px 100px 10px #000); */
  /* backdrop-filter: blur(50px); */
  /* filter: drop-shadow(10px 10px 10px rgb(196, 25, 25)); */
  position: relative;
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  background-color: rgba(245, 245, 245, 0.144);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.438));
  backdrop-filter: blur(5px);
}

.card-f {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-size: 2rem;
}
/* Form group */
.fg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width:35%; */
  width: 75%;
  height: 9rem;
  transition: ease-in 0.2s;
}
.fg:hover {
  width: 75%;
  transition: ease-out 0.4s;
}
.fc {
  width: 100%;
  height: 45%;
  font-family:var(--font);
  padding: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: #fff;
}
.fc:focus {
  outline: none;
  border-radius: 0.3rem;
  background-color: rgba(245, 245, 245, 0.2);
  transition: 0.4s;
}

/* Form group */

/* Name */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 0.8; /* Firefox */
  font-size: 1.6rem;
}
.about {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-grow: 1;
  /* flex-direction: row; */
  transition: ease-in-out 0.4s;
  padding: 5rem;
  margin: auto;
  overflow: hidden;
}
.about-desc{
  margin-left: 4rem;
  overflow: hidden;

}
.favicon {
  height: 49.0859rem;
  width: 39.2688rem;
  object-fit: cover;
  /* 
  height: 4.5313px =1% && 1px = 0.2206% 
                ; 
  width:  3.6250px =1%  1px= 0.3062% ; 
   */
  /* 
  height: 108%; 
  width:  80%;  */
  /* margin-left: 9%; */
  /* 49.078 61.344 */
  transition: 0.3s;
  transform: scale(1);
  filter: saturate(1);
}
.favicon img{
  max-width: 100%;
  height: auto;
}
.favicon:hover {
  transition: 0.4s;
  transform: scale(1.03);
  filter: saturate(0);
}
.favicon-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-right: 1rem;
}
.foot-link {
  text-decoration: none;
  color: #fff;
  outline: none;
  cursor: pointer;
}

/* Card back */
#contact .card-back {
  width: 45rem;
  height: 50.5rem;
  font-family: var(--font);
}

/* Button */
.card-back .card-f .btn-primary {
  outline: none;
  margin-top: 3rem;
  padding: 0.5rem 1rem;
  width: 9rem;
  font-family: var(--font);
  color: white;
  box-shadow: 2px 2px 0px 0px rgba(36, 29, 29, 0.75);
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 0.2rem;
  font-weight: 700;
  backdrop-filter: blur(10px);
  background-color: transparent;
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}
.card-back .card-f .btn-primary:hover {
  background-color: rgba(0, 0, 0, 0.767);
  color: var(--primary-color);
  transition: ease-in-out 0.2s;
}
textarea {
  resize: none;
  width: 100%;
  min-height: 8rem;
  font-family: var(--font);
}
.social {
  display: flex; 
  flex-direction: row;
  margin: auto;
  width: 100%;
  height: 100%;
}
.social ul {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.social ul li {
  
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  transition: ease-in-out 0.2s;
  justify-content: space-evenly;
}
.social ul li a:hover {
  color: var(--primary-color);
  scale: 1.3;
  transition: ease-in-out 0.2s;
}
.social ul li a:active {
  color: var(--primary-color);
  scale: 1.3;
}
#contact p {
  margin-top: 1.4rem;
}
.photo-gallery {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr;
  /* background-color: rgba(0, 0, 0, 0.767); */
  backdrop-filter: blur(10px);
  margin-left: 2rem;
  margin-right: 2rem;
}
.img-contain {
  display: flex;
  flex-grow: 1;
  padding: 1rem;
  /* background-color: #cca841; */
}
.img-contain img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
  transition: ease-in-out 0.2s;
}
.img-contain img:hover {
  transform: scale(1.5);
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.75));
  transition: ease-in-out 0.2s;
}
.head {
  width: fit-content;

  margin-bottom: 2rem;
  margin-left: 2rem;
  /* background-color: #cca841; */
  font-size: 5rem;
  font-weight: 700;

  letter-spacing: 0.2rem;

  border-bottom: 1px solid var(--primary-color);
}

.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 75%;
  margin: auto;
  opacity: 0;
  margin-top: 2rem;
  /* background-color: aqua; */
}
.heading {
  /* background-color: red; */
  display: flex;
  min-height: 40rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.heading h1 {
  font-size: 8rem;
  font-weight: 700;
  /* color: #0d0d0d; */
  color: white;
  letter-spacing: 1rem;
  text-align: center;
}
.video-container1 {
  position: absolute;
  z-index: -11;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background-color: rgb(255, 255, 255); */
}
.video {
  /* mix-blend-mode: multiply; */
  /* filter: saturate(0); */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}
.email{
  position: relative;
  height: 2rem;
  width: 2rem;
}

.video-container2 {
  position: absolute;
  /* z-index: -11; */
  width: 100%;
  height: 80%;
  overflow: hidden;
  background-color: #0d0d0d;
}
.video2 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
 
}
.row1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  position:relative;
  width: 75%;
}
.d-flex1{
  display: flex;
  align-items: center;
  
  width: 75vw;
   height: 13vh;
  margin: 0 auto;
  flex-grow: 1;
  justify-content: space-between;
}
.ft-head{
  text-decoration: none; color:white;font-size: 1.2rem;
}

.slideshow-container {
  max-width: 95vw;
  position: relative;
  margin: auto;
  margin-top: 2rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  text-decoration: none;
  top: 50%;
  width: auto;
  margin-top: -2.7rem;
  padding: 1.5rem;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.4s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -2rem;
  border-radius:0 3px 3px 0;
}
.prev {
  left: -2rem;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--primary-color);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 1rem 1rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fades {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fades {
  from {opacity: .4}
  to {opacity: 1}
}

.navbar-toggler{
  display: none;  
}
.section-2{
  background-color: #fff; 
  color:black
}
.foot-text{
  text-align: end;
}
.tdlogo{
  display: flex;
  /* border: 1px solid green; */
  /* background-color: #0d0d0d; */
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: min-content;

}
.tdlogo > svg:nth-child(1){
  /* z-index: -1; */
  position: absolute;
  top:90%;
  /* border: 1px solid blue; */
  /* transform: translateX(-90%); */
  animation: rotate 10s linear infinite;
  /* width: 56rem; */

}
.tdlogo > svg:nth-child(2){
  /* z-index: -1; */
  position: absolute;
  top:90%;
  /* border: 1px solid red; */
  
  /* margin-inline-start: 1rem; */
  /* transform: translateX(10%); */
  animation: rotate1 10s linear infinite;
  /* width: 56rem; */

}
@keyframes rotate{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}
@keyframes rotate1{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0%);
  }
}
  



.options{
  /* display: grid;
  grid-template-columns:4fr 10fr;
  margin:auto; */
  margin-top: 5rem;
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
  height: 50rem;
  
}
.option{
  /* border: 1px solid white; */
  background-color: var(--primary-color);
  background-size: cover;
  display: flex;
  width: 15rem;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-inline: 1rem;
  flex-grow: 0;
  transition: all .5s ease-in-out;
  cursor:pointer;
}

.option:hover{
  transition:.5s ease-in;
  flex-grow: 2;
  /* width: 25rem; */
}
.as{
  color:var(--bg-color);
  position: absolute;
  transform: rotate(180deg);
  
  
  writing-mode: vertical-lr;
  letter-spacing: .8rem;
 
  /* font:url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap'); */
  font-weight:900;
  opacity: 1;
  transition: opacity .5s .5s ease-in;
}
.option:hover .as{
  opacity: 0;
  transition:.5s ease-in;
}
.option p{
  opacity: 0;
scale: 0;
margin-inline:3rem ;
color: #0d0d0d;
text-align: justify;
}
.option:hover p{
  opacity: 1;
  scale: 1;
  transition: .3s .2s ease-in;
}
/* .as:hover{
  letter-spacing: .6rem;
  
  transition: ease-in-out 0.3s;
} */

.dashs{
  border:1px solid white;
  background-size: cover;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 00 500 500" width="500" height="500"><path d="M58,0 l1,150 l085,0 l-1,150 l176,0 l0,-102 l66,1 l-1,-130 l75,1" fill="none" stroke="lightgrey" stroke-width="1" stroke-dasharray="2"/></svg>');
  animation: lines 2s ease-in-out forwards ;
}
/* For mobile  */

@media (max-width: 768px) {
  
  section{
    min-height:50vh ;
  }
 
.row{
  grid-template-columns: 2fr ;
  margin: auto;
}
.about {
  display: flex;
  flex-direction: column;
  transition: ease-in-out 0.4s;
  
  margin: auto;
}
.favicon-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 90%;
  margin: auto;
 
}
.favicon img{
  max-width: 90%;
  height: 90%;
  margin: auto;
}
.about-desc{
 margin: 0;
 width: 100%;
}
.about-desc p{
  margin: 0;
  width: 100%;
}
.section-2{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff; 
  color:black
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  max-width: 90%;
  margin: 0;
  padding: 0;
}
.gold-back-reavel-in {
  height: 86%;
  min-width: 100%;
  margin:auto 0;

}
.video-container2 {
  position: absolute;
  /* z-index: -11; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #0d0d0d;
}
.video2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.row1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 90vw;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.v6{
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 700;
  margin: auto;
  margin-bottom: 2rem;
}

.d-flex1{
  display: flex;
  width: 90vw;
  align-items: center;
  margin: 0 auto;
  flex-grow: 1;
  justify-content: space-between;
}

.photo-gallery {
  display: grid;
  grid-template-columns: 4fr 4fr;
  /* background-color: rgba(0, 0, 0, 0.767); */
  backdrop-filter: blur(10px);
  margin-left: 2rem;
  margin-right: 2rem;
}
.img-contain {
  display: flex;
  flex-grow: 1;
  padding: 0.7rem;
  /* background-color: #cca841; */
}
.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 95%;
 
  margin: auto;
  opacity: 0;
  margin-top: 2rem;
  /* background-color: aqua; */
}
.navbar{
  display: flex;
  justify-content: start;
  max-width: 90%;
  margin-inline: auto;
}
.collapse{
  display: none;
}
.navbar-toggler{
  display: flex;
  flex-grow: 1;
  justify-content: end;
  background-color: #0d0d0d;
  color:var(--primary-color);
  border: none;
  outline: none;
  border-radius: 0;
  font-size: 4rem;
  padding: 1rem;
}
.logo {
 
  padding-left: 0rem;
}
.navbar-open {
  position:relative;
  display: flex;
}
.navbar-nav{
  flex-direction: column;
  position: absolute;
  justify-content: start;
  align-items: center;
  width: 100vw;
  max-width: 90vw;
  top:2rem;
  right: 0rem;
  background-color: #939eaac4;
  backdrop-filter: blur(10px);
  border-radius: 0 0 2rem 2rem;
}
.nav-item{
  margin-top: 2rem;
  padding: 0;
  line-height: 9rem;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.89);
  text-decoration: none;
  font-size: 3.5rem;
  text-align: left;
  letter-spacing: 0.4rem;
  padding-bottom: 0.2rem;
  
}
.fa-x {
  transform: rotate(180deg);
  transition: ease-out 0.2s;
}
.fa-bars{
  transition: ease-out 0.2s;
}
.txt-head{
 
  margin-top: 2.5rem;
}
.footer{
  display: grid;
  grid-template-columns: repeat(2,1fr);

 }
 .foot-text
 {
  text-align: end;
  order: 2;
}
.foot-detail{
  order: 1;
}
.sos-link{
  order: 3;
}
.social ul {
display: grid;
margin-left: -5rem;
margin-top: -4rem ;
grid-template-columns: repeat(4,1fr);
}
 

.social ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0rem;
  transition: ease-in-out 0.2s;
  justify-content: space-around;

}


}